
h2 {
	font-family:Georgia, serif;
	text-align: center;
	font-size: 175%;

}

.Chicken, .Beef, .Sushi {
	text-align: center;
  	border: 2px solid black;
 	padding: 5px;
  	width: 30%;
  	position: absolute;
  	top:0;
    right:0;
    
    font-weight: 900 !important;
    font-size: 125%;
  	
}

@media screen and 
.Chicken {
	background-color: pink;
}

.Beef {
	background-color: tomato;
	color: white;
}

.Sushi {
	background-color: rgb(255, 165, 0);
}

.float-left {
	position:relative;
	top: 50px;
	float:left;
	width: 29%;
	border: 2px solid black;
  	margin: 1%;
  	padding: 1%;
  	background:#999;
  	padding-top: 3em;

	
}

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}