
h2 {
	font-family:Georgia, serif;
	text-align: center;
	font-size: 175%;

}

.Chicken, .Beef, .Sushi {
	text-align: center;
  	border: 2px solid black;
 	padding: 5px;
  	width:200px;
  	position: absolute;
  	top:0;
    right:0;
    
    font-weight: 900 !important;
    font-size: 125%;
  	
}

@media screen and (min-width: 992px){
	.float-left1, .float-left2, .float-left3 {
	box-sizing:border-box;
	position:relative;
	top: 50px;
	float:left;
	width: 29%;
	border: 2px solid black;
  	margin: 2%;
  	padding: 10px;
  	background:#999;
  	padding-top: 3em;
	}
}


@media screen and (max-width: 991px) and (min-width: 768px){
	.float-left1, .float-left2 {
	box-sizing:border-box;
	position:relative;
	top: 50px;
	float:left;
	width: 46%;
	border: 2px solid black;
  	margin: 2%;
  	padding: 10px;
  	background:#999;
  	padding-top: 3em;
	}
	.float-left3 {
	box-sizing:border-box;
	position:relative;
	top: 50px;
	clear: left;
	width: 96%;
	border: 2px solid black;
  	margin: 2%;
  	padding: 10px;
  	background:#999;
  	padding-top: 3em;	
	}
}

@media screen and (max-width: 767px){
	.float-left1, .float-left2, .float-left3 {
	box-sizing:border-box;
	position:relative;
	top: 50px;
	clear: left;
	width: 96%;
	border: 2px solid black;
  	margin: 2%;
  	padding: 10px;
  	background:#999;
  	padding-top: 3em;	
	}
}
.Chicken {
	background-color: pink;
}

.Beef {
	background-color: tomato;
	color: white;
}

.Sushi {
	background-color: rgb(255, 165, 0);
}



.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}