
.header{
	margin: 0px auto;
}

.float-left {
	float:left;
	text-align: center;
	width: 33%
}

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}